{% extends 'base.html.twig' %}

{% block title %}Notes App{% endblock %}

{% block body %}
    <div id="app" note-list="{{ notes|json_encode }}" tag-list="{{ tags |json_encode }}"></div>
{% endblock %}
